<p id="notice"><%= notice %></p>

<h1>Avaliacoes Fisicas</h1>

<table>
  <thead>
    <tr>
      <th>Cintura</th>
      <th>Envergadura</th>
      <th>Peitoral</th>
      <th>Braco</th>
      <th>Coxa</th>
      <th>Gordura abdomem</th>
      <th>Gordura braco</th>
      <th>Gordura coxa</th>
      <th>Flexao</th>
      <th>Agachamento</th>
      <th>Abdominal</th>
      <th>Corrida</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @avaliacoes_fisicas.each do |avaliacoes_fisica| %>
      <tr>
        <td><%= avaliacoes_fisica.cintura %></td>
        <td><%= avaliacoes_fisica.envergadura %></td>
        <td><%= avaliacoes_fisica.peitoral %></td>
        <td><%= avaliacoes_fisica.braco %></td>
        <td><%= avaliacoes_fisica.coxa %></td>
        <td><%= avaliacoes_fisica.gordura_abdomem %></td>
        <td><%= avaliacoes_fisica.gordura_braco %></td>
        <td><%= avaliacoes_fisica.gordura_coxa %></td>
        <td><%= avaliacoes_fisica.flexao %></td>
        <td><%= avaliacoes_fisica.agachamento %></td>
        <td><%= avaliacoes_fisica.abdominal %></td>
        <td><%= avaliacoes_fisica.corrida %></td>
        <td><%= link_to 'Show', avaliacoes_fisica %></td>
        <td><%= link_to 'Edit', edit_avaliacoes_fisica_path(avaliacoes_fisica) %></td>
        <td><%= link_to 'Destroy', avaliacoes_fisica, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Avaliacoes Fisica', new_avaliacoes_fisica_path %>
