<p id="notice"><%= notice %></p>

<p>
  <strong>Cintura:</strong>
  <%= @avaliacoes_fisica.cintura %>
</p>

<p>
  <strong>Envergadura:</strong>
  <%= @avaliacoes_fisica.envergadura %>
</p>

<p>
  <strong>Peitoral:</strong>
  <%= @avaliacoes_fisica.peitoral %>
</p>

<p>
  <strong>Braco:</strong>
  <%= @avaliacoes_fisica.braco %>
</p>

<p>
  <strong>Coxa:</strong>
  <%= @avaliacoes_fisica.coxa %>
</p>

<p>
  <strong>Gordura abdomem:</strong>
  <%= @avaliacoes_fisica.gordura_abdomem %>
</p>

<p>
  <strong>Gordura braco:</strong>
  <%= @avaliacoes_fisica.gordura_braco %>
</p>

<p>
  <strong>Gordura coxa:</strong>
  <%= @avaliacoes_fisica.gordura_coxa %>
</p>

<p>
  <strong>Flexao:</strong>
  <%= @avaliacoes_fisica.flexao %>
</p>

<p>
  <strong>Agachamento:</strong>
  <%= @avaliacoes_fisica.agachamento %>
</p>

<p>
  <strong>Abdominal:</strong>
  <%= @avaliacoes_fisica.abdominal %>
</p>

<p>
  <strong>Corrida:</strong>
  <%= @avaliacoes_fisica.corrida %>
</p>

<%= link_to 'Edit', edit_avaliacoes_fisica_path(@avaliacoes_fisica) %> |
<%= link_to 'Back', avaliacoes_fisicas_path %>
