<!DOCTYPE html>
<html>
  <head>
    <title>PersonalGuide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= nav_bar brand: "PersonalGuide", brand_link: root_path do %>
    <%= menu_group do %>
      <%= menu_item "Listagem de alunos", alunos_path %>
      <%= menu_item "Planos", planos_path %>
    <% end %>
  <% end %>
  
  <body>
    <div class='container'>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
