<!DOCTYPE html>
<html style='font-size: 15px !important'>
<head>
	<title>PersonalGuide</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<%= stylesheet_link_tag 'application' %>
	<%= javascript_pack_tag 'application' %>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<%= javascript_pack_tag 'views/home' %>

</head>
<body style='font-size: 15px !important'>
</body>
</html>